<!-- Display related posts, using the current post's category -->
<h4>Related posts:</h4>
            
    <div class="row">
                
      {% capture pagecat %}{{ page.category | downcase }}{% endcapture %}
                
        {% if site.categories.[pagecat].size > 0 %}
          {% for post in site.categories.[pagecat] %}
            {% if post.url != page.url %}
              <div class="col-sm-3">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <img src="{{ site.baseurl }}/assets/images{{ post.featuredImage }}">
                    <h5>{{ post.title }}</h5>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="col-sm-9">
            <p>No related posts to show yet. Check back soon!</p>
          </div>
        {% endif %}
      
      </div>

<!-- Display related posts, using the current post's tags -->
<h4>Related posts</h4>
	
<ul>			
            {% for tag in page.tags %}
	            {% for post in site.posts limit:3 %}
			{% if post.tags contains tag %}
				{% if post.url != page.url %}
					<li><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }} &raquo;</a></li>
				{% endif %}
                        	{% endif %}
		{% endfor %}
            {% endfor %}
</ul>
